
#elim{
    background-color: red;
}
.col-md-3{
    float: right;
}
.col-md-9{
    float: left;
}

/*
.titulo{
    color: white;
    text-align: center ;
    background-color: rgb(46, 154, 241);
    padding: 30px 15px;
}
.colo :hover{
    background-color: rgb(46, 154, 241);

}
.contenedor{
    float: left;
    width: 900px;
    border: 1px solid rgb(17, 113, 168);
}
.conte_derecho{
    float: right;
    width: 400px;
    height: 500px;
  
}
.ancho{
    width: 300px;
}
#tablaMascota{
    width: 400px;
    
}
*/
